<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Về Du lịch Hưng Yên Làng Hoa</title>
    <script src="https://kit.fontawesome.com/b00e3cfa74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Trang tin tức thể thao</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class="app">
        <div class="contain">
            <div class="banner"></div>
            <div class="header h-[30px] w-[1000px] bg-[#065ba1]">
                <ul class="header-list flex text-sm text-[#fff] items-center h-full justify-between">
                    <li>
                        <a href="#"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li class="header-item">
                        <a href="tintuc.html">TIN TỨC-C.ĐẠO</a>
                    </li>
                    <li class="header-item">
                        <a href="bmtc.html">B.MÁY TC</a>
                    </li>
                    <li class="header-item">
                        <a href="#">VĂN BẢN</a>
                    </li>
                    <li class="header-item">
                        <a href="#">CCHC</a>
                    </li>
                    <li class="header-item">
                        <a href="vanhoa.html">VĂN HOÁ </a>
                    </li>
                    <li class="header-item">
                        <a href="nsvdh.html">NSVHGĐ</a>
                    </li>
                    <li class="header-item">
                        <a href="sport.html">THỂ THAO</a>
                    </li>
                    <li class="header-item">
                        <a href="index.html">DU LỊCH</a>
                    </li>
                    <li class="header-item">
                        <a href="#">TÀI CHÍNH CÔNG</a>
                    <li class="header-item">
                        <a href="#">TTKT-PCTN</a>
                    </li>
                    <li class="header-item">
                        <a href="#">DỰ ÁN-ĐỀ TÀI KH</a>
                    </li>
                    <li class="header-item">
                        <a href="#">XIN Ý KIẾN</a>
                    </li>




                </ul>
            </div>
            <div class="content flex w-[1000px]">
                <div class="content-left mt-[16px] w-[700px] pr-[6px]" style=" border-right: 10px solid #dcecf9;">
                    <h2 class="text-[#005798] font-bold">TRANG CHỦ <span><i class="fa-solid fa-caret-right"></i></span>
                        Văn Hoá</h2>



                    <div class="grid grid-cols-3">
                        <div class="col-span-2">
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/vanhoa/1.png" alt="">
                                <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                            ">Tổ chức Ngày hội “Sắc Xuân trên mọi miền Tổ quốc” năm 2024 <span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">12/01/2024</span> </p>
                            </div>

                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/vanhoa/2.jpeg" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Sôi nổi hoạt động văn hóa văn nghệ quần chúng trên địa bàn tỉnh Hưng Yên<span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">29/12/2023</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Trong thời gian qua, hoạt động văn hóa văn nghệ quần chúng diễn
                                        ra sôi nổi từ tỉnh đến cơ sở, trở thành" món ăn" tinh thần bổ ích, lành mạnh,
                                        thu hút đông đảo các tầng lớp nhân dân tham gia. Qua...</p>
                                </div>
                            </div>
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/vanhoa/3.png" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Hội nghị toàn quốc về phát triển các ngành công nghiệp văn hóa Việt Nam <span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">23/12/2023</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Ngày 22/12 tại trụ sở Chính phủ, Thủ tướng Chính phủ Phạm Minh
                                        Chính đã chủ trì Hội nghị toàn quốc về phát triển các ngành công nghiệp văn hóa
                                        Việt Nam. Cùng dự và điều hành Hội nghị có Phó Thủ...</p>
                                </div>
                            </div>
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/vanhoa/4.jpeg" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Hưng Yên tham gia Giải Cử tạ vô địch quốc gia 2023<span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">10/01/2024</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Từ ngày 15-22/12, tại Nhà thi đấu Phú Thọ, TP. Hồ Chí Minh diễn
                                        ra Giải Cử tạ vô địch quốc gia 2023. Giải do Cục Thể dục thể thao, Liên đoàn Cử
                                        tạ thể hình Việt Nam phối hợp với Sở Văn hóa và Thể...</p>
                                </div>
                            </div>
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/vanhoa/5.jpeg" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Vận động viên Nguyễn Thị Vân Anh (Hưng Yên) giành 1 Huy chương Vàng, 1 Huy...<span
                                            style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">10/01/2024</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Giải Đua thuyền Rowing U19 và U23 châu Á năm 2023 được tổ chức
                                        từ ngày 12/12 đến 19/12 tại Trung tâm Đua thuyền Rowing Hải quân hoàng gia Thái
                                        Lan (Thái Lan).</p>
                                </div>
                            </div>
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/nsvdh/6.jpeg" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Giải Việt dã truyền thống Báo Hưng Yên lần thứ XXIV năm 2023<span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">10/01/2024</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Sáng ngày 8/12, tại Quảng trường Nguyễn Văn Linh, thành phố
                                        Hưng Yên, Báo Hưng Yên phối hợp với Sở Văn hóa, Thể thao và Du lịch tổ chức Giải
                                        Việt dã truyền thống Báo Hưng Yên lần thứ XXIV năm 2023.</p>
                                </div>
                            </div>
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/nsvdh/7.jpeg" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Hưng Yên tham gia Giải vô địch Boxing toàn quốc năm 2023<span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">10/01/2024</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Giải vô địch Boxing toàn quốc năm 2023 được tổ chức từ ngày
                                        19/11 đến 30/11 tại tỉnh Đắk Lắk. Giải do Liên đoàn Quyền anh Việt Nam phối hợp
                                        với Sở Văn hóa, Thể thao và Du lịch tỉnh Đắk Lắk tổ...</p>
                                </div>
                            </div>
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/nsvdh/8.jpeg" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Bộ trưởng Nguyễn Văn Hùng: "Cần gấp rút hoàn thiện Dự thảo Chiến lược
                                        phát...<span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">10/01/2024</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Năm 2023 là năm bội thu của thể thao thành tích cao Hưng Yên,
                                        với những tấm huy chương quý giá tại đấu trường quốc gia và thế giới. Để có được
                                        những kết quả đó phải khẳng định sự quyết tâm, nỗ lực...</p>
                                </div>
                            </div>
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/nsvdh/9.jpeg" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Bộ trưởng Nguyễn Văn Hùng: "Cần gấp rút hoàn thiện Dự thảo Chiến lược
                                        phát...<span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">10/01/2024</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Năm 2023 là năm bội thu của thể thao thành tích cao Hưng Yên,
                                        với những tấm huy chương quý giá tại đấu trường quốc gia và thế giới. Để có được
                                        những kết quả đó phải khẳng định sự quyết tâm, nỗ lực...</p>
                                </div>
                            </div>
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/nsvdh/10.jpeg" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Bộ trưởng Nguyễn Văn Hùng: "Cần gấp rút hoàn thiện Dự thảo Chiến lược
                                        phát...<span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">10/01/2024</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Năm 2023 là năm bội thu của thể thao thành tích cao Hưng Yên,
                                        với những tấm huy chương quý giá tại đấu trường quốc gia và thế giới. Để có được
                                        những kết quả đó phải khẳng định sự quyết tâm, nỗ lực...</p>
                                </div>
                            </div>
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/nsvdh/11.jpeg" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Bộ trưởng Nguyễn Văn Hùng: "Cần gấp rút hoàn thiện Dự thảo Chiến lược
                                        phát...<span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">10/01/2024</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Năm 2023 là năm bội thu của thể thao thành tích cao Hưng Yên,
                                        với những tấm huy chương quý giá tại đấu trường quốc gia và thế giới. Để có được
                                        những kết quả đó phải khẳng định sự quyết tâm, nỗ lực...</p>
                                </div>
                            </div>
                            <div class="flex" style="margin-bottom: 10px;
                            border: 1px solid #C3D2E1;
                            background-color: #F5F5F7;
                            padding: 5px;">
                                <img width="150px" height="115px" src="../assets/images/nsvdh/12.jpeg" alt="">
                                <div class="">
                                    <p class="ml-[15px]" style="color: #005798 !important;
                                font-size: 14px;font-weight: 700;
                                 ">Bộ trưởng Nguyễn Văn Hùng: "Cần gấp rút hoàn thiện Dự thảo Chiến lược
                                        phát...<span style="font-size: 8pt;
                                    font-style: italic;
                                    color: #ABABAB;
                                    font-weight: normal;">10/01/2024</span>
                                    </p>
                                    <p class="p-[15px]" style="color: #000;
                                    text-align: justify;
                                    width: 100%;
                                    font-size: 13px;
                                    margin-top: 5px;
                                    line-height: 20px;">Năm 2023 là năm bội thu của thể thao thành tích cao Hưng Yên,
                                        với những tấm huy chương quý giá tại đấu trường quốc gia và thế giới. Để có được
                                        những kết quả đó phải khẳng định sự quyết tâm, nỗ lực...</p>
                                </div>
                            </div>


                        </div>
                        <div class="col-span-1 ">
                            <div class="ml-[8px] h-[250px] bg-[#dcebf9] overflow-y-auto overscroll-auto ">
                                <p class="text-sm text-[#8A0000] font-semibold">Tin Mới Nhất</p>
                                <p class="ml-[10px] text-sm text-[#0C5394]">
                                    <span style="font-size: 8px; color:#003399"><i
                                            class="fa-solid fa-square "></i></span>
                                    </span> Tìm giải pháp thu hút khách du lịch
                                    cho Hưng Yên
                                    <span class="text-[#383838] " style="font-size: 11px;">(20/01/2024 9:32 SA)</span>
                                </p>
                                <p class="ml-[10px] text-sm text-[#0C5394]">
                                    <span style="font-size: 8px; color:#003399"><i
                                            class="fa-solid fa-square "></i></span>
                                    </span> Hưng Yên: Sự hồi sinh và nỗ lực xúc tiến du lịch
                                    <span class="text-[#383838] " style="font-size: 11px;">(20/01/2024 9:32 SA)</span>
                                </p>
                                <p class="ml-[10px] text-sm text-[#0C5394]">
                                    <span style="font-size: 8px; color:#003399"><i
                                            class="fa-solid fa-square "></i></span>
                                    </span> Du lịch trải nghiệm nông thôn - làng nghề
                                    <span class="text-[#383838] " style="font-size: 11px;">(13/01/2024 1:50 CH)</span>
                                </p>
                                <p class="ml-[10px] text-sm text-[#0C5394]">
                                    <span style="font-size: 8px; color:#003399"><i
                                            class="fa-solid fa-square "></i></span>
                                    </span> Hiệu quả từ hoạt động xúc tiến quảng bá du lịch
                                    <span class="text-[#383838] " style="font-size: 11px;">(25/12/2023 7:05 SA)</span>
                                </p>
                                <p class="ml-[10px] text-sm text-[#0C5394]">
                                    <span style="font-size: 8px; color:#003399"><i
                                            class="fa-solid fa-square "></i></span>
                                    </span> Hội nghị phát triển du lịch Việt Nam nhanh, bền vững
                                    <span class="text-[#383838] " style="font-size: 11px;">(16/11/2023 1:21 CH)</span>
                                </p>
                                <p class="ml-[10px] text-sm text-[#0C5394]">
                                    <span style="font-size: 8px; color:#003399"><i
                                            class="fa-solid fa-square "></i></span>
                                    </span> Hưng Yên tham gia liên kết, hợp tác phát triển du lịch tại tỉnh Bắc Giang
                                    <span class="text-[#383838] " style="font-size: 11px;">(12/11/2023 4:00 CH)</span>
                                </p>
                                <p class="ml-[10px] text-sm text-[#0C5394]">
                                    <span style="font-size: 8px; color:#003399"><i
                                            class="fa-solid fa-square "></i></span>
                                    </span> Để du lịch Hưng Yên cất cánh
                                    <span class="text-[#383838] " style="font-size: 11px;">(10/11/2023 2:09 CH)</span>
                                </p>
                                <p class="ml-[10px] text-sm text-[#0C5394]">
                                    <span style="font-size: 8px; color:#003399"><i
                                            class="fa-solid fa-square "></i></span>
                                    </span> Hội thảo khoa học “Thực trạng phát triển các sản phẩm du lịch Hưng Yên”
                                    <span class="text-[#383838] " style="font-size: 11px;">(31/10/2023 2:55 CH)</span>
                                </p>
                            </div>
                            <img class="mt-[6px]" width="100%" src="../assets/images/thethao/r1.jpeg" alt="">
                            <img class="mt-[6px]" width="100%" src="../assets/images/thethao/r2.jpeg" alt="">
                            <img class="mt-[6px]" width="100%" src="../assets/images/thethao/r3.jpg" alt="">
                            <img class="mt-[6px]" width="100%" src="../assets/images/thethao/r4.jpg" alt="">
                            <img class="mt-[6px]" width="100%" src="../assets/images/thethao/r5.jpeg" alt="">
                            <img class="mt-[6px]" width="100%" src="../assets/images/thethao/r6.jpeg" alt="">
                            <img class="mt-[6px]" width="100%" src="../assets/images/thethao/r7.jpeg" alt="">
                            <img class="mt-[6px]" width="100%" src="../assets/images/thethao/r8.jpeg" alt="">
                            <img class="mt-[6px]" width="100%" src="../assets/images/thethao/r9.jpeg" alt="">



                        </div>

                    </div>


                </div>
                <div class="content-right w-[300px] mt-[60px]">
                    <div class="w-full h-[28px] " style="border: 1px solid gray;">
                        <input class="w-[90%] h-[20px] p-[4px] " style="outline: none;border:transparent" type="text"
                            placeholder="Từ khoá tìm kiếm">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <select class="w-full h-[28px] mt-[8px]" style="border: 1px solid gray;">
                        <option value="">--- Liên Kết Website</option>
                        <option value="">Công ty điện lực Hưng Yên</option>

                        <option value="">--- Sở Tài Chính</option>
                        <option value="">--- Sở Giáo Dục Và Đào Tạo</option>
                        <option value="">--- Sở Kế Hoạch Và Đầu tư</option>

                    </select>
                    <img class="w-full" src="../assets/images/dulich/qr.png" alt="">

                    <img class="w-full" src="../assets/images/dulich/qr1.jpg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr2.jpg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr3.jpg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr4.jpg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr5.jpg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr6.jpg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr7.jpg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr8.jpeg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr9.jpeg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr10.jpeg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr11.jpeg" alt="">
                    <img class="w-full" src="../assets/images/dulich/qr12.jpeg" alt="">


                </div>

            </div>
            <div class="footer w-[1010px] bg-[#47a3ff] h-[200px] mt-[12px]">
                <div class="grid grid-cols-4 flex h-full">
                    <p class="text-sm mt-[12px] text-[#fff]">Lên đầu trang</p>
                    <div class="col-span-2 flex flex-col items-center justify-center">
                        <p style="font-size: 12px;color:#0000FF; margin-bottom:0">CỔNG THÔNG TIN ĐIỆN TỬ SỞ VĂN HÓA, THỂ
                            THAO VÀ DU LỊCH HƯNG YÊN
                        </p>
                        <p style="font-size: 12px;color:#0000FF; margin-bottom:0">
                            Cơ quan quản lý: Sở Văn hóa, Thể Thao và Du Lịch
                        </p>
                        <p style="font-size: 12px;color:#0000FF; margin-bottom:0"> Địa chỉ: Đường Quảng Trường Nguyễn
                            Văn Linh, phường Hiến Nam, thành phố Hưng Yên
                        </p>
                        <p style="font-size: 12px;color:#0000FF; margin-bottom:0">
                            Chịu trách nhiệm: ông Đỗ Hữu Nhân - Giám đốc Sở Văn hóa, Thể thao và Du lịch
                        </p style="font-size: 12px;color:#0000FF; margin-bottom:0">
                        <p style="font-size: 12px;color:#0000FF; margin-bottom:0">
                            Điện thoại: 0221.3865.288
                        </p>
                        <p style="font-size: 12px;color:#0000FF; margin-bottom:0">Email: vanphong.svhtt@hungyen.gov.vn
                        </p>
                    </div>
                    <p class="mt-[10px]"> <span class="w-[96px] h-[24px] bg-[#054A7E] text-[#fff] " style="border: 1px solid #0A7CD0;    line-height: 22px;
                        padding: 0 10px;
                        margin-top: 6px;
                        border-radius: 5px;"> Trang quản trị </span></p>
                </div>


            </div>
        </div>
    </div>
    </div>

</body>

</html>